@if (profile){
  <div  class="profile-card">
    <div class="avatar-name">
      <img
        [src]= "profile.imageUrl"
        [alt]="profile.imageId"
        class="profile-card__avatar" >
      <div class="profile-card__name">
        <strong class="h6">{{ profile.firstName }} {{ profile.lastName }}</strong>
        <span class="subtitle"> {{ profile.login }}</span>
      </div>
    </div>

    <div class="profile-card__information">
      <div class="profile-enum">Status: <p class="profile-info">{{ profile.status }}</p></div>
      <div class="profile-enum">Gender: <p class="profile-info">{{ profile.gender }}</p></div>
      <div class="profile-enum">Department: <p class="profile-info">{{ profile.department }}</p></div>
    </div>

    <div class="profile-card__action-btns">
      <button class="btn" type="button" [routerLink]="['/profile/', profile.id]">Подробнее</button>
    </div>
  </div>
}
