:host {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 50dvh;
  align-items: center;
  margin: 0 20%;
}

.login-form {
  width: 370px;
}

.password-input {
  position: relative;
}

.password-hideEye-btn {
  background: none;
  border: none;
  position: absolute;
  top: 65%;
  transform: translateY(-50%);
  right: 12px;
  color: var(--light-color);
  cursor: pointer;
}

.password-hideEye-btn.active {
  color: var(--primary-color);
}
